[Desktop Entry]
Name =AstroNinja
Icon = /home/shiroininja/.AstroNinja/Images/Icons/rocket.png
Exec=python3 /home/shiroininja/.AstroNinja/AstroNinjaMain.py
Terminal=false
Type=Application
